<form class="info" (ngSubmit)="onUpdate()">

  <div class="photo">
    <div class="favourite" >
      <img 
      [src]="person.favourite ? '../assets/fav.png' : '../assets/unfav.png'" 
      alt="Favourite" 
      class="favourite-image"
      (click)="toggleFavourite()"
    />
  </div><br>
    <img [src]="person.profileImage ? person.profileImage : '../../assets/defghi.png'" class="contact-photo">
  </div>


  <div class="details">

    <div class="left">
      <div class="file-upload-container">
        <input type="file" (change)="onImageChange($event)" id="fileInput" />
        <label for="fileInput" class="file-upload-label"> 
          <img src="../../assets/gallery.png" alt="Background Image" />
        </label>
      </div><br>
        <label for="name">{{ 'NAME' | translate }}:</label> <br>
        <input type="text" id="name" [(ngModel)]="person.name" name="name"><br>
        
        <label for="surname">{{ 'SURNAME' | translate }}:</label> <br>
        <input type="text" id="surname" [(ngModel)]="person.surname" name="surname"><br>
    
        <label for="phoneNumber">{{ 'PHONE_NUMBER' | translate }}:</label> <br>
        <input type="text" id="phoneNumber" [(ngModel)]="person.phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
          required minlength="11" maxlength="11" pattern="^[0-9]{11}$" (ngModelChange)="onPhoneNumberChange()" />
        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error">
          <div *ngIf="phoneNumber.errors?.['required']">{{ 'ERRORS_REQUIRED' | translate }}</div>
          <div *ngIf="(phoneNumber.errors?.['minlength']) || (phoneNumber.errors?.['maxlength']) || (phoneNumber.errors?.['pattern']) ">{{ 'ERRORS_LENGTH' | translate }}</div>
        </div>
    </div>

    <div class="right">

      <div class="company-num">
        <img type="images" src="../assets/office-building.png" alt="resim" class="details-img">
        <div class="r-p">
          <label for="companyName">{{ 'COMPANY_NAME' | translate }}:</label> <br>
          <input type="text" id="companyName" [(ngModel)]="person.companyName" name="companyName">
        </div>
      </div>

      <div class="phone">
        <img type="images" src="../assets/phone.png" alt="resim" class="details-img">
        <div class="l-p">
          <label for="companyPhoneNumber">{{ 'COMPANY_PHONE_NUMBER' | translate }}:</label> <br>
          <input type="text" id="companyPhoneNumber" [(ngModel)]="person.companyPhoneNumber" name="companyPhoneNumber" #companyPhoneNumber="ngModel"
            required minlength="11" maxlength="11" pattern="^[0-9]{11}$" (ngModelChange)="onPhoneNumberChange()" />
          <div *ngIf="companyPhoneNumber.invalid && (companyPhoneNumber.dirty || companyPhoneNumber.touched)" class="error">
            <div *ngIf="(companyPhoneNumber.errors?.['minlength']) || (companyPhoneNumber.errors?.['maxlength']) || (companyPhoneNumber.errors?.['pattern']) ">{{ 'ERRORS_LENGTH' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="email">
        <img type="images" src="../assets/email.png" alt="resim" class="details-img">
        <div class="l-p2">
          <label for="E-mail">{{ 'EMAIL' | translate }}:</label> <br>
          <input type="text" id="email" [(ngModel)]="person.email" name="email">
        </div>
      </div>

      <div class="b-day">
        <img type="images" src="../assets/birthday.png" alt="resim" class="details-img">
        <div class="r-p2">
          <label for="B-day">{{ 'BIRTHDAY' | translate }}:</label> <br>
          <input type="date" id="birthday" [(ngModel)]="person.birthday" name="birthday">
        </div>
      </div>
    </div>
  </div>
  <button class="completed-button" type="submit"></button>
</form>