:host {
  display: block;
  padding: 16px;
  background-color: #f4f4f4;
  padding-top: 4.5%;
}

.ag-grid-container {
  width: 100%; 
  height: 500px; 
  margin: 0 auto; 
  position: relative; 
}

.ag-theme-alpine {

  --ag-border-color: #e0e0e0; 
  --ag-header-background-color: #b885eb; 
  --ag-header-foreground-color: #ffffff; 
  --ag-odd-row-background-color: #f3e7ff; 
  --ag-even-row-background-color: #ffffff; 
}

.ag-header-cell {
  font-size: 14px; 
  font-weight: bold; 
  color: #ffffff; 
}

.ag-row {
  font-size: 45px; 
}

.ag-cell {
  padding: 8px; 
  border: 1px solid #e0e0e0; 
}